.sidebar_widget{
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.sidebar_widget p.label label{
    color: #333333;
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
    padding: 0;
    margin: 0 0 3px;
    display: block;
    vertical-align: text-bottom;
}